<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1007000" android:versionName="1.7-SNAPSHOT" package="com.abich.brewertools">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17"/>

    <application android:allowBackup="true" android:icon="@drawable/logo" android:label="@string/app_name" android:theme="@style/AppTheme">
        <activity android:label="@string/title_activity_specific_gravity_correction" android:name="com.abich.brewertools.SpecificGravityCorrection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>